@model Treehouse.FitnessFrog.Models.Entry

@{
  ViewBag.Title = "Delete Entry";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger">Are you sure you want to delete the following entry?</div>

<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-xs-4 col-sm-3">
        @Html.LabelFor(m => m.Date)
      </div>
      <div class="col-xs-8 col-sm-9">
        @Model.Date.ToShortDateString()
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-sm-3">
        @Html.LabelFor(m => m.ActivityId)
      </div>
      <div class="col-xs-8 col-sm-9">
        @Model.Activity.Name
      </div>
    </div>

    <div class="row">
      <div class="col-xs-a col-sm-3">
        @Html.LabelFor(m => m.Duration)
      </div>
      <div class="col-xs-8 col-sm-9">
        @Model.Duration
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-sm-3">
        @Html.LabelFor(m => m.Intensity)
      </div>
      <div class="col-xs-8 col-sm-9">
        @Model.Intensity
      </div>

      @using (Html.BeginForm())
      {
        <div class="pad-top">
          <button type="submit" class="btn btn-danger btn-lg margin-right">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
          <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </a>
        </div>
      }
    </div>
  </div>
</div>
